<!--
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:annotation-config/>
    &lt;!&ndash;<import resource="loggers.xml"/>&ndash;&gt;

    &lt;!&ndash;<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">&ndash;&gt;
        &lt;!&ndash;<property name="locations">&ndash;&gt;
            &lt;!&ndash;<list>&ndash;&gt;
                &lt;!&ndash;<value>classpath:client.properties</value>&ndash;&gt;
            &lt;!&ndash;</list>&ndash;&gt;
        &lt;!&ndash;</property>&ndash;&gt;

        &lt;!&ndash;<property name="ignoreResourceNotFound" value="true"/>&ndash;&gt;
        &lt;!&ndash;<property name="systemPropertiesMode" value="override"/>&ndash;&gt;

    &lt;!&ndash;</bean>&ndash;&gt;
    &lt;!&ndash;<bean id="client" class="com.epam.spring.bean.Client"&ndash;&gt;
          &lt;!&ndash;c:id="${id}" c:fullName="${name}" p:greeting="${greeting}">&ndash;&gt;
    &lt;!&ndash;</bean>&ndash;&gt;

    &lt;!&ndash;<util:map id="loggerMap">&ndash;&gt;
        &lt;!&ndash;<entry key="INFO" value-ref="eventLogger"/>&ndash;&gt;
        &lt;!&ndash;<entry key="ERROR" value-ref="combineEventLogger"/>&ndash;&gt;
    &lt;!&ndash;</util:map>&ndash;&gt;

    &lt;!&ndash;<bean id="app" class="com.epam.spring.bean.App" c:client-ref="client">&ndash;&gt;
        &lt;!&ndash;<constructor-arg ref="fileEventLogger"/>&ndash;&gt;
        &lt;!&ndash;<constructor-arg ref="loggerMap"/>&ndash;&gt;
    &lt;!&ndash;</bean>&ndash;&gt;

</beans>-->
